/* style over existing odoo.com features */

nav.o_main_navbar {
    background-color: #673A5B;
}

/* feature added by odoosoup */

.odoosoup_task_note {
    border: 1px solid #60ba8a;
    color: #207a4a;
    background: #f1ffe8;
}
textarea.odoosoup_task_note {
    overflow: hidden;
    min-height: 23px;
    resize: none;
}
.odoosoup_task_note_tooltip {
    white-space: pre-wrap;
}
